<h1>Demo#hello</h1>
<p>Hello World!!</p>

ID:<%= @id %>
	<br />
ID:<%= @page.to_i + 10 %>
	<br />
<% target ="world" %>

<%= "Hello #{target}" %>

<% 3.times do %>


	
	<br />
	aaaa:<%= "xxx" %>


<% end	%>

<% @array.each do |thearray| %>
	
	<br />
	<%= thearray %> 

<% end %>
<br />
<%= link_to("My First Link", {:action => 'index'} ) %>

<hr />
<%= params.inspect %>