<% @page_title = "Admin Menu" %>





<div class="container">
  <h3>Welcome!</h3>
  <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).</p>
  <p>Only when the button is clicked, the navigation bar will be displayed.</p>
</div>

 <!--

<div class="menu">
	<h2>Admin Menu</h2>
	<div class="identity"> 

	 Logged in as:<br /> <br />
	 <%= image_tag(session[:userpic]) %>  <br /> <br />
	 <%= session[:username] %>
	 </div>
	 <div style="float:left;">
  <ul>
  	<li><%= link_to("Manage Content", :controller => 'subjects') %></li>
  	<li><%= link_to("Manage Admin Users", :controller => 'admin_users') %></li>
  	<li><%= link_to("Logout", :action => 'logout') %></li>
  	</ul>
  	</div>
</div>
-->