<% @page_title = "Pages List" %>

<%# link_to("<< Back to Page", {:controller => 'pages', :action => 'list',:subject_id => @subject.id}, :class => 'back_link') %>

<!--
<%= link_to("<< Back to Subject", {:controller => 'subjects', :action => 'list'}, :class => 'back_link') %>

<div class="Section list">
	<h2>Sections</h2>

	<%= link_to("Add New Section",{:action => 'new',:page_id => @page.id}, :class => 'action new') %>

	<div><%= pluralize(@page_sections.size,'sections') %> found </div>

	<table class="listing" summary="Page List">	
		<tr class="header">
			<th>&nbsp;</th>
			<th>Section</th>
			<th>Visible</th>
			<th>Content Type</th>
			<th>Content</th>
			<th>Actions</th>
		</tr>
	<% @sections.each do |section| %>
	<tr>
		<td><%= section.position %></td>
		<td><%= section.name %></td>
		<td class="center"><%= status_tag(section.visible) %></td>
		<td class="center"><%= section.content_type %></td>
		<td class="center"><%= section.content%></td>
		<td style="width:170px;">


			<%= link_to("Show",{:action => 'show', :id => section.id,:page_id => @page.id}, :class => 'action show') %>

			<%= link_to("Edit",{:action => 'edit', :id => section.id,:page_id => @page.id}, :class => 'action edit') %>

			<%= link_to("Delete",{:action => 'delete', :id => section.id,:page_id => @page.id}, :class => 'action delete') %>


		</td>
	</tr>
	<% end %>
 </table>

 <%= will_paginate @sections, :previous_label => 'Previous', :next_label => 'Next' %>
</div>

-->



<div class="container">

<br />

<%= link_to content_tag(:span, nil ,:class => "glyphicon glyphicon-plus-sign")+ "  Add Section", {:action => "new",:page_id => @page.id}, :class => "btn btn-default btn-sm"%>

<br />

  <h2>Section(s) of <%= @page.name %> page</h2>
  <p style="padding-left:5px;display:inline-block;"><%= pluralize(@page_sections.size,'sections') %>  found </p>
<br />

                                                                                  
  <div class="table-responsive">   



  <table class="table">
    <thead>
    <tr>
		
			<th style="border-top-left-radius: 10px;">&nbsp;</</th>
			<th>Section</th>
			<th>Visible</th>
			<th>Content Type</th>
			<th>Content</th>
		 	<th style="border-top-right-radius: 10px;width:205px;">Actions</th>
		 </tr>
    </thead>
    <tbody>
    		</tr>
		<% @sections.each do |section| %>
	<tr>
		<td><%= section.position %></td>
		<td><%= section.name %></td>
		<td class="center"><%= section.visible %></td>
		<td class="center"><%= section.content_type %></td>
		<td class="center"><%= section.content%></td>
		<td>


			<%# link_to("Show",{:action => 'show', :id => section.id,:page_id => @page.id}, :class => 'action show') %>

			<%# link_to("Edit",{:action => 'edit', :id => section.id,:page_id => @page.id}, :class => 'action edit') %>

			<%# link_to("Delete",{:action => 'delete', :id => section.id,:page_id => @page.id}, :class => 'action delete') %>

			<%# link_to 'Delete', { action: 'delete' ,id: section.id,:page_id => @page.id}, data: {confirm: 'Are you sure?'} %>


			<%= link_to content_tag(:button, 'Show' ,:class => "btn btn-default"), {:action => 'show', :id => section.id,:page_id => @page.id} %>


			<%= link_to content_tag(:button, 'Edit' ,:class => "btn btn-default"),{:action => 'edit', :id => section.id,:page_id => @page.id} %>

			<%= link_to content_tag(:button, 'Delete' ,:class => "btn btn-default"),  { action: 'delete' ,id: section.id,:page_id => @page.id}, data: {confirm: 'Are you sure?'} %>

		</td>
	</tr>
	<% end %>
    </tbody>
  </table>
<%= will_paginate @sections, renderer: BootstrapPagination::Rails, :previous_label => 'Previous', :next_label => 'Next' %>
  </div>
</div>