<style>
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #11544F;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #3385ff;
    color: white;
}


#toTop {
    padding: 5px 3px;
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
}



</style>
  
<%= image_tag('/assets/rails.png', :id => 'toTop') %>

<% @page_title = "Admin Users List" %>

  


<div class="container">

<br />
<%# link_to content_tag(:span, nil ,:class => "glyphicon glyphicon-plus-sign")+ "  Add Admin User", {:action => "new"},:id => 'new', :class => "btn btn-default btn-sm"%>
 <button id='new' class='btn btn-default btn-sm'><span class="glyphicon glyphicon-plus-sign"></span> Add Admin User</button>


<br />
<br />
<!--
  <h2>Table</h2>
  <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>                      
  -->

<form method="post" action="/admin_users/datalist1" id="formajax">

<label for="namesearch">Name:</label><input type="text" name="namesearch" id="namesearch"/>

<input type="submit">

    <input type="reset" name="reset" id="reset" value="Reset" />


</form>
                                                                 
  <div class="table-responsive"> 
  


 <table class="table">
    <thead>
    <tr>
    
      <th style="border-top-left-radius: 10px;">Picture</th>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th style="border-top-right-radius: 10px;width:150px;">Actions</th>
     </tr>
    </thead>
    <tbody>
       <% @admin_users.each do |admin_user| %>
     <tr class="<%= cycle('odd', 'even')%>" >
      <%# image_tag(thepostcard.public_filename(:thumbnail)) %>
      <%# image_tag(admin_user.userpic.public_filename()) %>
      <%# admin_user.userpic %>
      <td style="text-align: center;"><img class="lazy" data-original=<%= admin_user.userpic.public_filename(:thumbnail) %> /></td>
      <td><%= admin_user.username %></td>
      <td><%= admin_user.name %></td>
      <td><%= mail_to(admin_user.email) %></td>
      <td style="width:120px;">
      <%# link_to('Edit', {:action => 'edit', :id => admin_user.id}, :class => 'action edit') %>
      <%# link_to('Delete', {:action => 'delete', :id => admin_user.id}, :class => 'action delete') %>

    <%# link_to 'Delete', { action: 'delete' ,id: admin_user.id}, data: {confirm: 'Are you sure?'} %>

    <%# link_to content_tag(:button, 'Edit' ,:class => "btn btn-default"),{:id => 'myBtn', :action => 'edit', :id => admin_user.id} %>



   <button data-id="<%=admin_user.id%>" class='myBtn btn btn-default'>Edit Modal Type</button>



  <%= link_to content_tag(:button, 'Delete' ,:class => "btn btn-default"), { action: 'delete' ,id: admin_user.id}, data: {confirm: 'Are you sure?'}  %>



      </td>
     </tr>
     <% end %>
    </tbody>
  </table>






















  </div>
<form method="post" action="#" id="frm_customsearch" name="frm_customsearch">
<fieldset class="standard-form" style="clear:both;">
<legend>Filter Options</legend>
<div id="search-form" align="center" style="float:none;">


        <label for="name"><b>Name: </b></label><input type="text" name="name" id="name" class="search-text" style="width:500px;"/>
<!--
        <label><b>Business ID</b><input type="text" name="business_idx" id="business_idx" class="search-text-long" style="width:55px;"<% if !params[:business_idx].blank?%> value="<%=params[:business_idx]-%>"<%end%>/></label> 

        <label><b>Business Name/Trade name </b><input type="text" name="business_name" id="business_name"<% if !params[:keyword].blank?%> value="<%=params[:keyword]-%>"<%end%> class="search-text-long" style="width:285px;"/></label> <input type="hidden" name="from_search" id="from_search" value="" />

        <br />
        <label for="adkeyword"><b>Keyword</b> <input type="text" name="adkeyword" id="adkeyword" class="search-text" /></label>
        <label for="adlocation"><b>Location</b><input type="text" name="adlocation" id="adlocation" class="search-text" /></label>
        

      

        <label for="startdate">Start <input readonly="readonly" type="text" name="startdate" id="startdate" class="search-text-calendar"/></label>
        <label for="expirydate">Expiry <input readonly="readonly" type="text" name="expirydate" id="expirydate" class="search-text-calendar"/></label>
-->
        <input type="submit" name="search" id="btn_customsearch" value="Filter" />
        <input type="reset" name="reset" id="reset" value="Reset" />


    </div>
</fieldset>
</form>


<div style="margin-left:200px;">
<table id="flex1" style="display:none;"></table>
<script type="text/javascript">
$("#flex1").flexigrid({
  url: '/admin_users/datalist',
  dataType: 'json',
  colModel : [

    {display: 'Picture', name : 'picture', width : 150, sortable : true, align: 'left'},
    {display: 'Username', name : 'username', width : 150, sortable : true, align: 'left'},
    {display: 'Name', name : 'name', width : 150, sortable : true, align: 'left'},
    {display: 'Email', name : 'email', width : 150, sortable : true, align: 'left'},

    ],

  searchitems : [
    {display: 'ISO', name : 'iso'},
    {display: 'Name', name : 'name', isdefault: true}
    ],
      buttons : 
      [
      {name: 'Default Listing', bclass: 'refresh', onpress : buttonAction},
      {separator: true},
      {name: 'Active Button Banner', bclass: 'approve', onpress : buttonAction},
      {separator: true},
      {name: 'Expired Button Banner', bclass: 'expired', onpress : buttonAction},
      {separator: true},
      {name: 'Export to Excel', bclass: 'export', onpress : buttonAction}
      ],    
      sortname: "businesses.id",
      sortorder: "asc",
      usepager: true,
      useRp: true,
      rp: 10,
      showTableToggleBtn: false,
      width: 800,
      resizable: false,
      onSubmit: addFormData,
      height: 'auto',
      resizable: false,
      singleSelect: true
});



//This function adds paramaters to the post of flexigrid. You can add a verification as well by return to false if you don't want flexigrid to submit     
function addFormData(){
  //passing a form object to serializeArray will get the valid data from all the objects, but, if the you pass a non-form object, you have to specify the input elements that the data will come from
  var dt = $('#sform').serializeArray();
  $("#flex1").flexOptions({params: dt});
  return true;
}
  

$('#sform').submit(function (){
  $('#flex1').flexOptions({newp: 1}).flexReload();
  return false;
});




  function addFormData() {        
    var dt = $('#frm_customsearch').serializeArray();
    $("#flex1").flexOptions({params: dt});
    return true;
  }

  $('#btn_customsearch').click(function ()  {
    $('#from_search').val('searched');
    $('#flex1').flexOptions({newp: 1}).flexReload();
    return false;
  });       


  $("#frm_customsearch input").keypress(function (e) {  
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) { 
      $('#from_search').val('searched');
      $('#flex1').flexOptions({newp: 1}).flexReload();
      return false;  
    } else {  
      return true;  
    }  
  }); 



  $("#frm_customsearch").bind("submit", function(e) {
    $('#system-message').hide();
    $('#flex1').flexOptions({newp: 1}).flexReload();            
  });


















function buttonAction(com,grid)
  {

    if (com=='Default Listing')
    {
      location.href = '/admin_users'
    }    
    else if (com=='Export to Excel')
    {
      location.href = '/admin_users/export'  
    }



  }

</script>

</div>

</div>















<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal"  >

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>


      <h3 id="modal_title"><font face="Comic sans MS"></font></h3>



    </div>
    <div class="modal-body">



<div id="displaymessage" style="display:none;">
    <div id="system-message"></div>
</div>



<%= form_for(:admin_user, :html => { :multipart => true , :id => 'frm', :class => "form-horizontal", :style => 'padding-top:10px;padding-bottom:10px;'} ) do |f| %>

 <div class="form-group">
      <label class="control-label col-sm-2" for="email">Picture</label>
      <div class="col-sm-10">
    
     
         <img id='adminimg' alt="admin_pic"/>
  

          <%= file_field(:userpic,:uploaded_data) %>

      </div>
    </div>


    <div class="form-group" ">

    <%= f.label(:first_name, :class => "control-label col-sm-2") %>
      <div class="col-sm-10">          
        <%= f.text_field(:first_name, :class => "form-control") %>
      </div>
    </div>

    <div class="form-group">

    <%= f.label(:last_name, :class => "control-label col-sm-2") %>
      <div class="col-sm-10">          
      
        <%= f.text_field(:last_name, :class => "form-control") %>
      </div>
    </div>

        <div class="form-group">

        <%= f.label(:email, :class => "control-label col-sm-2") %>

      <div class="col-sm-10">          
        <%= f.text_field(:email, :class => "form-control") %>
      </div>
    </div>

        <div class="form-group">
     
        <%= f.label(:username, :class => "control-label col-sm-2") %>


      <div class="col-sm-10">          
         <%= f.text_field(:username, :class => "form-control") %>
      </div>
    </div>

    <div class="form-group">
         <%= f.label(:password, :class => "control-label col-sm-2") %>

      <div class="col-sm-10">          
     <%= f.password_field(:password, :class => "form-control") %>
      </div>
    </div>

    
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
    <%= submit_tag("Update Admin User", :id => "submit",:class => "btn btn-default") %>
    </div>
  </div>
<% end %>





    </div>



  </div>

</div>





<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModalnew" class="modal"  >

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3><font face="Comic sans MS"></font></h3>
    </div>
    <div class="modal-body">



<div id="displaymessage" style="display:none;">
    <div id="system-message"></div>
</div>


<!--
<%= form_for(:admin_user, :html => { :multipart => true , :id => 'frm', :class => "form-horizontal", :style => 'padding-top:10px;padding-bottom:10px;'} ) do |f| %>

 <div class="form-group">
      <label class="control-label col-sm-2" for="email">Picture</label>
      <div class="col-sm-10">
    
     
         <img id='adminimg' alt="admin_pic"/>
  

          <%= file_field(:userpic,:uploaded_data) %>

      </div>
    </div>


    <div class="form-group" ">

    <%= f.label(:first_name, :class => "control-label col-sm-2") %>
      <div class="col-sm-10">          
        <%= f.text_field(:first_name, :class => "form-control") %>
      </div>
    </div>

    <div class="form-group">

    <%= f.label(:last_name, :class => "control-label col-sm-2") %>
      <div class="col-sm-10">          
      
        <%= f.text_field(:last_name, :class => "form-control") %>
      </div>
    </div>

        <div class="form-group">

        <%= f.label(:email, :class => "control-label col-sm-2") %>

      <div class="col-sm-10">          
        <%= f.text_field(:email, :class => "form-control") %>
      </div>
    </div>

        <div class="form-group">
     
        <%= f.label(:username, :class => "control-label col-sm-2") %>


      <div class="col-sm-10">          
         <%= f.text_field(:username, :class => "form-control") %>
      </div>
    </div>

    <div class="form-group">
         <%= f.label(:password, :class => "control-label col-sm-2") %>

      <div class="col-sm-10">          
     <%= f.password_field(:password, :class => "form-control") %>
      </div>
    </div>

    
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
    <%= submit_tag("Update Admin User", :id => "submit",:class => "btn btn-default") %>
    </div>
  </div>
<% end %>



-->

    </div>



  </div>

</div>









<script>







$(document).ready(function() {

 
         $("img.lazy").lazyload({
                effect : "fadeIn"
            });







});


$(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('#toTop').fadeIn();
    } else {
        $('#toTop').fadeOut();
    }
});



 $('#toTop').click(function ()  
 {
  $('html, body').animate({ scrollTop: 0 }, 'fast');
 }); 


// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementsByClassName("myBtn")[0];

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

var userid=0;


// When the user clicks the button, open the modal 
$(document).on('click', '.myBtn, #new', function() {
//$(".myBtn, #new").click(function(){

  $('#userpic_uploaded_data').val('');
  $('#adminimg').attr('src','');
  $('#admin_user_first_name').val('');
  $('#admin_user_last_name').val('');
  $('#admin_user_email').val('');
  $('#admin_user_username').val('');
  $('#admin_user_password').val('');
  $('#modal_title').text('Admin User [New]');
  $('#submit').val("Create Admin User");
  $('#adminimg').hide();

  // $(".x").html((this).data("id"));
  //alert($(this).attr("data-id"));
  //alert("waedasda");

  userid = $(this).attr("data-id");

  $.ajax({
    url: "/admin_users/edit/"+userid,
    cache: false,
    success: function(data){
      
    $('#frm').attr('action', "/admin_users/update?id="+userid);
    $('#adminimg').show();

      //$('#editid').val(data.id);
      //$('#editusername').val(data.username);

    },
    error: function(data) {

       $('#frm').attr('action', "/admin_users/create");
        
    }

  });




  
    modal.style.display = "block";


}); 


$('#formajax').submit(function(event) {

   event.preventDefault();

   $.ajax({
                url: String($(this).attr('action')),
                type: 'post',
                data:  new FormData(this),
                contentType: false,
                cache: false,
                processData:false,
                beforeSend: function(data) {
  $('.table-responsive').html('<div class=loader style="margin:auto;" ></div>');


                    },
                      success: function(data) {
                    //alert(data);



                    var admin_users = JSON.parse(data);
                    var table = '<table class="table">\
                                <thead>\
                                <tr>\
                                  <th style="border-top-left-radius: 10px;">Picture</th>\
                                  <th>Username</th>\
                                  <th>Name</th>\
                                  <th>Email</th>\
                                  <th style="border-top-right-radius: 10px;width:150px;">Actions</th>\
                                </tr>\
                                </thead>';





                    for(a in admin_users)
                      {
                      table += '<tr>';
                      table += '<td><img class="lazy" data-original="'+admin_users[a]["image"]+'" ></td>';
                      table += '<td>'+admin_users[a]["username"]+'</td>';
                      table += '<td>'+admin_users[a]["name"]+'</td>';  
                      table += '<td><a href="mailto:'+admin_users[a]["email"]+'">'+admin_users[a]["email"]+'</a></td>';    
                      table += '<td><button data-id='+admin_users[a]["id"]+' class="myBtn btn btn-default" >Edit Modal Type</button>'
                      table += '<a href="/admin_users/delete/'+admin_users[a]["id"]+'"  data-confirm="Are you sure?" ><button class="btn btn-default">Delete</button></a></td>';    



                      table += '</tr>';
                    }


 



                         //     $('.table-responsive')
                         // .html('<table class="table">\
                         //        <thead>\
                         //        <tr>\
                         //          <th style="border-top-left-radius: 10px;">Picture</th>\
                         //          <th>Username</th>\
                         //          <th>Name</th>\
                         //          <th>Email</th>\
                         //          <th style="border-top-right-radius: 10px;width:150px;">Actions</th>\
                         //        </tr>\
                         //        </thead>\
                         //        <td></td>\
                         //        </table>');
                      


                      
                        table += '</table>';
                                 //alert(table);

                                 $('.table-responsive')
                                 .html(table);





 // <table class="table">
 //    <thead>
 //    <tr>
    
 //      <th style="border-top-left-radius: 10px;">Picture</th>
 //      <th>Username</th>
 //      <th>Name</th>
 //      <th>Email</th>
 //      <th style="border-top-right-radius: 10px;width:150px;">Actions</th>
 //     </tr>
 //    </thead>
 //    <tbody>
 //       <% @admin_users.each do |admin_user| %>
 //     <tr class="<%= cycle('odd', 'even')%>" >
 //      <%# image_tag(thepostcard.public_filename(:thumbnail)) %>
 //      <%# image_tag(admin_user.userpic.public_filename()) %>
 //      <%# admin_user.userpic %>
 //      <td style="text-align: center;"><%# image_tag(admin_user.userpic.public_filename(:thumbnail)) %></td>
 //      <td><%= admin_user.username %></td>
 //      <td><%= admin_user.name %></td>
 //      <td><%= mail_to(admin_user.email) %></td>
 //      <td style="width:120px;">
 //      <%# link_to('Edit', {:action => 'edit', :id => admin_user.id}, :class => 'action edit') %>
 //      <%# link_to('Delete', {:action => 'delete', :id => admin_user.id}, :class => 'action delete') %>

 //    <%# link_to 'Delete', { action: 'delete' ,id: admin_user.id}, data: {confirm: 'Are you sure?'} %>

 //    <%# link_to content_tag(:button, 'Edit' ,:class => "btn btn-default"),{:id => 'myBtn', :action => 'edit', :id => admin_user.id} %>



 //   <button data-id="<%=admin_user.id%>" class='myBtn btn btn-default'>Edit Modal Type</button>



 //  <%= link_to content_tag(:button, 'Delete' ,:class => "btn btn-default"), { action: 'delete' ,id: admin_user.id}, data: {confirm: 'Are you sure?'}  %>


 //      </td>
 //     </tr>
 //     <% end %>
 //    </tbody>
 //  </table>


         $("img.lazy").lazyload({
                effect : "fadeIn"
            });




                      history.pushState(null, null, '/admin_users?value=wahaha');




                   },
                      complete: function(data){

                       },
                      error: function(data) {
                  

                    }
            });


 
    });

 //$('.table-responsive').html('haha');
    

$('#frm').submit(function(event) {

   event.preventDefault();

   $.ajax({
                url: String($(this).attr('action')),
                type: 'post',
                data:  new FormData(this),
                contentType: false,
                cache: false,
                processData:false,
                beforeSend: function(data) {
                     $('#submit').attr('disabled',true);
                    // $('#tricks').focus();
                    },
                      success: function(data) {
                       //$('#displaymessage').show().delay(2000).fadeOut();
                          $('#displaymessage').show().delay(2000).fadeOut();

                          if(typeof userid !== "undefined")
                          {
                           $('#system-message')
                          .html('<div class="alert alert-info" style="margin-bottom:5px;margin-top:10px;"> <span class="glyphicon glyphicon-info-sign"></span>  Record Succesfully updated!</div>');

                          }
                          else
                          {
                           $('#system-message')
                          .html('<div class="alert alert-info" style="margin-bottom:5px;margin-top:10px;"> <span class="glyphicon glyphicon-info-sign"></span>  Record Succesfully created!</div>');

                          }
                         

                      
                    },
                      complete: function(data){
                        $('#submit').attr('disabled',false);
                       },
                      error: function(data) {
                        $('#submit').attr('disabled',false);

                    }
            });


 
    });



// When the user clicks on <span> (x), close the modal
span.onclick = function() {

   modal.style.display = "none";
   //alert(userid);
   location.href = '/admin_users';

   if(typeof userid !== "undefined")
    {
    
    }


}

// When the user clicks anywhere outside of the modal, close it
/*window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}*/

$('#myModal').on('shown.bs.modal', function () {
    $(this).find('.modal-dialog').css({width:'auto',
                               height:'auto', 
                              'max-height':'100%'});
});
</script>